.c-article {
	&__content-wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__image {
		margin-bottom: 1rem;

		@include lg-min {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: 600;
		color: $tundora;

		@include lg-min {
			font-size: 2.5rem;
		}
	}

	&__perex {
		margin-bottom: 2rem;
		font-size: 1.5rem;

		@include lg-min {
			font-size: 1.6rem;
		}

		&--italic {
			font-style: italic;
		}
	}

	&__text {
		margin-bottom: 0;
		font-size: 1.5rem;

		@include lg-min {
			font-size: 1.6rem;
		}
	}
}