.c-btn {
	$self: &;
	display: inline-block;
	padding: 0.7rem 2rem;
	text-align: center;
	vertical-align: middle;
	font-family: $roboto-font;
	font-size: 1.4rem;
	font-weight: 600;
	color: $black;
	border-radius: 0.25rem;
	transition: all 0.4s;

	&:hover {
		text-decoration: none;
	}

	/* .c-btn--primary */
	&--primary {
		color: $white;
		background-color: $blue-ribbon;
		border-color: $blue-ribbon;

		&:hover {
			color: $white;
			background-color: lighten($blue-ribbon,8);
			border-color: lighten($blue-ribbon,8);
		}
	}

	/* .c-btn--youtube */
	&--youtube {
		display: inline-flex;
		align-items: center;
		padding: 0;

		&:hover {
			color: $blue-ribbon;
		}

		.c-btn {
			&__icon {
				margin-right: 0.8rem;
				font-size: 3rem;
				color: $blue-ribbon;
			}
		}
	}
}

