.c-card {
	$self: &;
	position: relative;
	margin-bottom: 3rem;
	border-radius: 8px;
	transition: all 0.4s;

	@include lg-min {
		margin-bottom: 0;
	}

	&__header {
		position: relative;
	}

	&__image {
		width: 100%;
	}

	&__icon {
		color: $blue-ribbon;
		transition: all 0.4s;

		&--half-out {

		}
	}

	&__body {
		padding: 2.5rem;

		&--centered {
			text-align: center;
		}
	}

	&__title {
		margin-bottom: 0.5rem;
		font-size: 1.8rem;
		color: $cod-gray;
	}

	&__text {
		margin: 0;
		font-size: 1.3rem;
		line-height: 2.8rem;

		@include lg-min {
			font-size: 1.4rem;
		}
	}

	/* .c-card--services */
	&--services {
		display: flex;
		align-items: center;
		margin: 0 auto 3rem;
		width: 315px;
		height: 315px;
		border: 1px solid $hawkes-blue;
		border-radius: 0;

		&:hover {
			border-color: $white;
			box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);

			#{$self}__icon {
				border-color: $blue-ribbon;
			}

			#{$self}__title {
				color: $blue-ribbon;
			}
		}

		.c-card {
			&__icon {
				margin-bottom: 1.5rem;
				padding: 1rem;
				font-size: 4rem;
				background: $selago;
				border: 1px solid $hawkes-blue;
				border-radius: 0.4rem;
			}

			&__body {
				padding: 3.5rem;
				text-align: center;
			}

			&__title {
				font-size: 2.2rem;
				font-weight: 700;
			}

			&__text {
				line-height: 1.7rem;
			}
		}
	}

	/* .c-card--featured-services */
	&--featured-services {
		box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);

		&::before {
		    content: '';
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: -1;
			opacity: 0;
		    background: $white;
			border-radius: 8px;
		    transition: all 0.4s;
		}

		&:hover {
			&::before {
			    opacity: 1;
		        background: $blue-ribbon;
			}

			.c-card {
				&__icon, &__title, &__text {
					color: $white;
				}
			}
		}

		.c-card {
			&__icon {
				margin-bottom: 1.5rem;
				font-size: 4rem;
			}
		}
	}

	/* .c-card--numbers */
	&--numbers {
		margin-bottom: 5rem;
		text-align: center;
		background: $hawkes-blue;
		border-radius: 0;

		@include lg-min {
			margin-bottom: 0;
		}

		.c-card {
			&__icon {
				position: absolute;
				top: -28px;
				left: 50%;
				padding: 1rem;
				font-size: 3rem;
				color: $white;
				background: $blue-ribbon;
				border: .5rem solid $white;
				border-radius: 50%;
				transform: translateX(-50%);
			}

			&__title {
				margin-top: 1rem;
				margin-bottom: 0;
				font-size: 3.6rem;
				font-weight: 600;
				color: $deep-sapphire;
			}
		}
	}

	/* .c-card--team-member */
	&--team-member {
		border-radius: 4px;
		overflow: hidden;
		background: $white;
		box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);

		&:hover {
			#{$self}__social-list {
				opacity: 1;
				bottom: 15px;
			}
		}

		.c-card {
			&__body {
				padding: 2.5rem 1.5rem;
			}

			&__title {
				font-family: $roboto-font;
				font-size: 1.8rem;
				font-weight: 700;
				color: $mine-shaft;
			}

			&__text {
				font-size: 1.3rem;
				color: $silver-chalice;
				line-height: 1;
			}

			&__social-list {
				position: absolute;
				left: 0;
				bottom: 30px;
				right: 0;
				opacity: 0;
				text-align: center;
				transition: all 0.5s;
			}

			&__social-list-item {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin: 0 0.5rem;
				width: 36px;
				height: 36px;
				color: $white;
				background: rgba(16, 110, 234, 0.8);
				border-radius: 4px;
				transition: all 0.3s;

				&:hover {
					background: #3b8af2;
				}
			}
		}
	}
}