.c-card {
	position: relative;
	margin-bottom: 3rem;
	padding: 2.5rem 3rem;
	transition: all 0.4s;

	@include lg-min {
		margin-bottom: 0;
		padding: 2.5rem 3rem;
	}

	&__icon {
		margin-bottom: 2rem;
		font-size: 4.8rem;
		line-height: 1;
		color: $blue-ribbon;
	}

	&__title {
		font-size: 1.8rem;
		color: $cod-gray;
	}

	&__text {
		margin: 0;
		font-size: 1.4rem;
		line-height: 2.8rem;

		@include lg-min {
			font-size: 1.5rem;
		}
	}

	/* .c-card--has-shaddow */
	&--has-shaddow {
		box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
	}

	&--rounded {
		border-radius: 8px;
	}

	&--hover-bottom {
		&::before {
		    content: '';
		    position: absolute;
		    top: 100%;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    z-index: -1;
		    background: $white;
			border-radius: 8px;
		    transition: all 0.4s;
		}

		&:hover {
			&::before {
			    top: 0;
		        background: $blue-ribbon;
			}

			.c-card {
				&__icon, &__title, &__text {
					color: $white;
				}
			}
		}
	}
}