.c-navbar {
	$self: &;
	position: relative;

	&__collapse {
		@include lg-max {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			width: 270px;
			overflow: auto;
			background-color: $white;
			transform: translateX(-280px);
			transition: all .3s cubic-bezier(.77,0,.175,1);
		}

		@include lg-min {
			display: flex !important;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;

		@include lg-min {
			flex-direction: row;
		}
	}

	&__item {
		display: block;
		width: 100%;

		&--active {
			#{$self}__link {
				text-decoration: none;

				@include lg-max {
					background: $navbar-link-color;
					color: $white;
				}

				@include lg-min {
					color: $blue-ribbon;
					&:before {
						visibility: visible;
						width: 100%;
					}
				}
			}
		}

		@include lg-min {
			border-bottom: none !important;
		}
	}

	&__link {
		position: relative;
		display: block;
		padding: 1rem 3rem;
		font-family: $montserrat-font;
		font-size: 1.4rem;
		font-weight: 600;
		color: #000;
		border-bottom: 1px solid #ececec;
		transition: all 0.3s ease;

		&:before {
			content: "";
			visibility: hidden;
			position: absolute;
			left: 0;
			bottom: 7px;
			width: 0;
			height: 2px;
			background-color: $blue-ribbon;
			transition: all 0.3s ease-in-out;
		}

		@include lg-max {
			&:hover,
            &:focus {
				text-decoration: none;
				background: $navbar-link-color;
				color: $white;
			}
		}

		@include lg-min {
			display: inline-block;
			padding: 1.8rem 2.4rem;
			border: none;

			&:hover,
            &:focus {
				text-decoration: none;
				color: $blue-ribbon;
				&:before {
					visibility: visible;
					width: 100%;
				}
			}
		}
	}
}