.c-section {
	padding: 3rem 0;

	@include lg-min {
		padding: 6rem 0;
	}

	&__info-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;

		@include lg-min {
			margin-bottom: 3rem;
		}
	}

	&__label {
		display: inline-block;
		margin: 0;
		padding: 0.8rem 2rem;
		font-size: 1.1rem;
		font-weight: 700;
		color: $blue-ribbon;
		background: $hawkes-blue;
		border-radius: 50px;
		text-transform: uppercase;

		@include lg-min {
			font-size: 1.3rem;
		}
	}

	&__title {
		margin: 1.5rem 0 0;
		font-size: 2.5rem;
		font-weight: 700;

		@include lg-min {
			font-size: 3.2rem;
		}

		&--highlighted {
			color: $blue-ribbon;
		}
	}

	&__text {
		margin: 1rem 0 0;
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;

		@include lg-min {
			width: 50%;
			font-size: 1.6rem;
		}
	}

	/* .c-section--bg-dark */
	&--bg-dark {
		background: $selago;
	}

	/* .c-section--testimonials */
	&--testimonials {
		position: relative;
		padding: 8rem 0;
		background: url('../../images/testimonials_bg.png') center center;
		background-size: cover;
	}
}