.c-social-list {
	$self: &;

	&__item {
		color: $white;
		padding: 0 1rem;
		font-size: 1.4rem;

		&:hover {
			color: $white;
			text-decoration: none;
		}
	}

	&__icon {
		transition: all .4s;
	}

	/* MODIFIERS */
	/* .c-social-list--rotate */
	&--rotate {
		.c-social-list {
			&__item {
				&:hover {
					#{$self}__icon {
						transform: rotate(360deg);
					}
				}
			}
		}
	}

	/* .c-social-list--with-background */
	&--with-background {
		.c-social-list {
			&__item {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				background: $blue-ribbon;
			}
		}
	}

	/* .c-social-list--rounded */
	&--rounded {
		.c-social-list {
			&__item {
				border-radius: .3rem;
			}
		}
	}
}