/* HERO */
#hero {
	height: 100vh;
	background-image: url('../../images/hero_background.png');
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;

	@include lg-min {
		height: 65vh;
		background-attachment: fixed;
	}

	&:before {
		content: "";
		background: rgba(255, 255, 255, 0.6);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}

	.title {
		color: $mine-shaft;
		font-family: $poppins-font;
		font-size: 3.8rem;
		font-weight: bold;
		line-height: 4rem;

		@include lg-min {
			font-size: 4.8rem;
			line-height: 5.6rem;
		}

		span {
			color: $blue-ribbon;
		}
	}

	.subtitle {
		color: $emperor;
		font-family: $roboto-font;
		font-size: 2rem;
		font-weight: 400;
		line-height: 2.5rem;

		@include lg-min {
			font-size: 2.4rem;
			line-height: 3.6rem;
		}
	}

	.btn-get-started {
		font-size: 1.4rem;
	}

	.btn-play-video {
		color: $mine-shaft;
		font-size: 1.6rem;
		font-weight: 600;
		transition: all .5s;

		&:hover {
			color: $blue-ribbon;

			i {
				color: lighten($blue-ribbon, 5%);
			}
		}

		i {
			margin-right: 0.3rem;
			color: $blue-ribbon;
			font-size: 3.5rem;
			vertical-align: middle;
		}
	}
}

/* FEATURED SERVICES */
#featured_services {
	.card {
		margin-bottom: 3rem;
		text-align: center;
		box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			background: $blue-ribbon;
			border-radius: 1rem;
			z-index: -1;
			transition: all 0.3s;
		}

		@include lg-min {
			margin-bottom: 0;
			text-align: left;
		}

		&:hover {
			&:before {
				top: 0;
				background: $blue-ribbon;
			}

			.card-body {
				.icon i {
					color: $white;
				}

				.card-title, .card-text {
					color: $white;
				}
			}
		}

		.card-body {
			.icon {
				margin-bottom: 2rem;

				i {
					font-size: 4.8rem;
					color: $blue-ribbon;
				}
			}

			.card-title {
				margin-bottom: 1rem;
				font-size: 1.8rem;
				font-weight: 500;
			}

			.card-text {
				font-size: 1.5rem;
				line-height: 2.8rem;

				@include lg-min {
					text-align: justify;
				}
			}
		}
	}
}

/* ABOUT */
#about {
	.content-title {
		margin: 1.5rem 0 0;
		font-size: 2.2rem;
		font-weight: 600;

		@include lg-min {
			margin: 0;
			font-size: 2.6rem;
		}
	}

	.content-subtitle {
		margin: 1rem 0 0;
		font-size: 1.4rem;

		@include lg-min {
			font-size: 1.6rem;
		}
	}

	ul {
		margin: 3rem 0;

		@include lg-min {
			margin: 5rem 0;
		}

		li {
			display: flex;
			align-items: flex-start;

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}

			i {
				padding: 2rem;
				margin-right: 1.5rem;
				border-radius: 50%;
				font-size: 2.4rem;
				color: $blue-ribbon;
				background-color: $white;
				box-shadow: 0 6px 15px rgba(16, 110, 234, 0.12);
			}

			h5 {
				font-size: 1.8rem;
				margin-bottom: 0.5rem;

				@include lg-min {
					font-size: 2rem;
				}
			}

			p {
				font-size: 1.5rem;
				margin-bottom: 0;
			}
		}
	}
}

/* SKILLS */
#skills {

}